.applied {
  opacity: 0.5;
}
.appendix {
  border-radius: 15px;
  background-color: #9BC776;
  font:15px Helvetica, Verdana, Tahoma;
  color: white;
  width: 24px;
  display: block;
  height: 24px;
  text-align: center;
  line-height: 24px;
  float:left;
}
.appendix.I {
  background-color: #6EA6C7;
}
.appendix.III {
  background-color: #F8A46A;
}
ul.stats {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}
ul.stats li {
  background-color: #eee;
  text-align: center;
  float:left;
  width:30%;
  margin-left: 15px;
}
ul.stats h4 {
  font-family: Arial;
  margin: 5px;
}
ul.stats .value {
  font-size:30px;
}
