@import "mixins.scss";

.header-inner,
#content,
.footer-inner {
  width: 768px;
}

.column-container {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  position:relative; /* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;
  overflow:hidden;

  .colmid,
  .colleft {
    right:33%; /* width of the right column */
    float:left;
    width:100%;
    position:relative;
  }

  .col1,
  .col2,
  .col3 {
    width: 33%;
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
  }

  .col1 {
    left:100%;
  }

  .col2 {
    left:33%;
  }

  .col3 {
    left:67%;
  }
}

.column-container {
  padding: 37px 73px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.large-number-grid,
.time-grid {
  margin-top: 15px;
  font-size: 3.5em;
  padding-left: 1px;
  position: relative;
  font-weight: lighter;
}

.large-number-grid {
  width: 175px;
  height: 81px;
  letter-spacing: 0.1em;
  background: url(../img/large-number.png);
  background-repeat: no-repeat;
  @include image-2x("../img/large-number@2x.png", 175px, 81px);
  text-align: right;

  span {
    font-size: 0.8rem;
    letter-spacing: 0;
    text-transform: uppercase;
    position: absolute;
    right: 5px;
    bottom: 2px;
  }
}

.time-grid {
  width: 172px;
  height: 62px;
  letter-spacing: 0.15em;
  background: url(../img/time-grid.png);
  background-repeat: no-repeat;
  @include image-2x("../img/time-grid@2x.png", 172px, 62px);

  div {
    width: 76px;
    height: 60px;
    text-align: right;
  }

  .hours,
  .mins {
    font-size: 1.2rem;
    letter-spacing: 0.4em;
    position: absolute;
  }

  .mins {
    bottom: 2px;
    right: 15px;
  }

  .hours {
    top: 10px;
    right: 15px;
  }
}

.row {
  &.changes-header,
  &.changes {
    margin: 0;
    background-color: #f3f6f9;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  &.changes-header {
    .left,
    .right {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 25px 0 25px 0;
    }

    .left {
      width: 309px;
      padding-left: 70px;
      border: 1px solid #e5e5e5;
      border-left: none;
      border-right: none;
      margin: 0;
    }

    .right {
      width: 457px;
      padding-left: 20px;
      border: 1px solid #e5e5e5;
      border-right: none;
      position: relative;

      h2 {
        display: inline;
      }

      .btn {
        position: absolute;
        right: 67px;
        bottom: 20px;
      }
    }
  }

  &.changes {
    padding: 0 54px 45px 54px;

    .changes-table-footer,
    .changes-table {
      border: 1px solid #e5e5e5;
      border-top: none;
    }

    .changes-table {
      height: 285px;
      background: #fff;
      overflow: scroll;

      table {
        border-spacing: 0;

        tr {
          &:last-child {
            td {
              border-bottom: 0;
            }
          }

          td {
            padding: 15px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            border-bottom: 1px solid #e5e5e5;
            width: 400px;
            color: #373f4c;
            font-weight: bold;
            font-size: 0.9em;

            &:first-child {
              width: 255px;
              border-right: 1px solid #e5e5e5;
            }

            div:first-child {
              float: left;
              padding-top: 1em;
            }

            .appendix-change {
              width: 155px;
              background-image: url(../img/arrow.png);
              background-repeat: no-repeat;
              background-position: 42px 24px;
              @include image-2x("../img/arrow@2x.png", 74px, 8px);
              height: 26px;

              div {
                &.icon {
                  height: 26px;
                  width: 26px;
                  background-repeat: no-repeat;
                  background-position: 0px 2px;

                  &.i {
                    background-image: url(../img/icon-i.png);
                    @include image-2x("../img/icon-i@2x.png", 26px, 26px);
                  }

                  &.ii {
                    background-image: url(../img/icon-ii.png);
                    @include image-2x("../img/icon-ii@2x.png", 26px, 26px);
                  }

                  &.iii {
                    background-image: url(../img/icon-iii.png);
                    @include image-2x("../img/icon-iii@2x.png", 26px, 26px);
                  }
                }

                &:last-child {
                  margin-left: 128px;
                  background-position: 0px;
                }
              }
            }

            .new-species {
              background-image: url(../img/icon-plus.png);
              padding-left: 35px;
              background-repeat: no-repeat;
              background-position: 0 15px;
              @include image-2x("../img/icon-plus@2x.png", 26px, 26px);
            }

            .control {
              float: right;
              border-left: 1px solid #e5e5e5;
              padding-left: 20px;

              .btn {
                padding: 10px 15px;
                border-radius: 27px;
                width: 59px;
              }
            }

            &.empty,
            span.author {
              color: #cfcfcf;
              font-weight: normal;
            }

            span.author {
              font-size: 0.7em;
              display: block;
            }
          }
        }
      }
    }

    .row {
      &.changes-table-footer {
        margin: 0;
        font-size: 0.7em;
        color: #666;
        text-transform: uppercase;
        width: 99.7% !important;

        .pull-right {
          font-weight: bold;
          color: #373f4c;
          font-size: 0.9rem;
          line-height: 10px;
        }

        .left,
        .right {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          padding: 20px 15px 20px 15px;
        }

        .left {
          width: 255px;
          margin: 0;
          border-right: 1px solid #e5e5e5;
        }

        .right {
          width: 400px;
        }
      }
    }
  }

  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #666;
    font-weight: normal;
  }
}

h4 {
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0;
}
