/*
  ===============================
  Animation browser prefix mixins
  ===============================
*/
/*
  Example usage:

  @include keyframe(changecolour) {
    0% {
      color: #000;
    }

    100% {
      color: #FFF;
    }
  }
 */
/*
  Example usage:
  @include animation(10s, 5s, changecolour)
 */
/*
  =======================
  Device detection mixins
  =======================
*/
/*
  https://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
*/
/*
  https://gist.github.com/anthonyshort/2028061
*/
.header-inner,
#content,
.footer-inner {
  width: 768px; }

.column-container {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  position: relative;
  /* This fixes the IE7 overflow hidden bug */
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden; }
  .column-container .colmid,
  .column-container .colleft {
    right: 33%;
    /* width of the right column */
    float: left;
    width: 100%;
    position: relative; }
  .column-container .col1,
  .column-container .col2,
  .column-container .col3 {
    width: 33%;
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden; }
  .column-container .col1 {
    left: 100%; }
  .column-container .col2 {
    left: 33%; }
  .column-container .col3 {
    left: 67%; }

.column-container {
  padding: 37px 73px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.large-number-grid,
.time-grid {
  margin-top: 15px;
  font-size: 3.5em;
  padding-left: 1px;
  position: relative;
  font-weight: lighter; }

.large-number-grid {
  width: 175px;
  height: 81px;
  letter-spacing: 0.1em;
  background: url(../img/large-number.png);
  background-repeat: no-repeat;
  text-align: right; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .large-number-grid {
      /* on retina, use image
       * that's scaled by 2 */
      background-image: url("../img/large-number@2x.png");
      background-size: 175px 81px; } }
  .large-number-grid span {
    font-size: 0.8rem;
    letter-spacing: 0;
    text-transform: uppercase;
    position: absolute;
    right: 5px;
    bottom: 2px; }

.time-grid {
  width: 172px;
  height: 62px;
  letter-spacing: 0.15em;
  background: url(../img/time-grid.png);
  background-repeat: no-repeat; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .time-grid {
      /* on retina, use image
       * that's scaled by 2 */
      background-image: url("../img/time-grid@2x.png");
      background-size: 172px 62px; } }
  .time-grid.time-saved {
    margin-top: 47px; }
  .time-grid div {
    width: 76px;
    height: 60px;
    text-align: right; }
  .time-grid .hours,
  .time-grid .mins {
    font-size: 1.2rem;
    letter-spacing: 0.4em;
    position: absolute; }
  .time-grid .mins {
    bottom: 2px;
    right: 15px; }
  .time-grid .hours {
    top: 10px;
    right: 15px; }

.row.changes-header, .row.changes {
  margin: 0;
  background-color: #f3f6f9;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
.row.changes-header .left,
.row.changes-header .right {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 25px 0 25px 0; }
.row.changes-header .left {
  width: 309px;
  padding-left: 70px;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  margin: 0; }
.row.changes-header .right {
  width: 457px;
  padding-left: 20px;
  border: 1px solid #e5e5e5;
  border-right: none;
  position: relative; }
  .row.changes-header .right h2 {
    display: inline; }
  .row.changes-header .right .btn {
    position: absolute;
    right: 67px;
    bottom: 20px; }
.row.changes {
  padding: 0 54px 45px 54px; }
  .row.changes .changes-table-footer,
  .row.changes .changes-table {
    border: 1px solid #e5e5e5;
    border-top: none; }
  .row.changes .changes-table {
    height: 285px;
    background: #fff;
    overflow: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .row.changes .changes-table table {
      border-spacing: 0; }
      .row.changes .changes-table table tr:last-child td {
        border-bottom: 0; }
      .row.changes .changes-table table tr td {
        padding: 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
        width: 400px;
        color: #373f4c;
        font-weight: bold;
        font-size: 0.9em; }
        .row.changes .changes-table table tr td:first-child {
          width: 255px;
          border-right: 1px solid #e5e5e5;
          font-style: italic; }
        .row.changes .changes-table table tr td div:first-child {
          float: left;
          padding-top: 1em; }
        .row.changes .changes-table table tr td .appendix-change {
          position: relative;
          width: 155px;
          background-image: url(../img/arrow.png);
          background-repeat: no-repeat;
          background-position: 42px 24px;
          height: 26px; }
          @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
            .row.changes .changes-table table tr td .appendix-change {
              /* on retina, use image
               * that's scaled by 2 */
              background-image: url("../img/arrow@2x.png");
              background-size: 74px 8px; } }
          .row.changes .changes-table table tr td .appendix-change div.icon {
            height: 26px;
            width: 26px;
            background-repeat: no-repeat;
            background-position: 0px 2px; }
            .row.changes .changes-table table tr td .appendix-change div.icon.i {
              background-image: url(../img/icon-i.png); }
              @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
                .row.changes .changes-table table tr td .appendix-change div.icon.i {
                  /* on retina, use image
                   * that's scaled by 2 */
                  background-image: url("../img/icon-i@2x.png");
                  background-size: 26px 26px; } }
            .row.changes .changes-table table tr td .appendix-change div.icon.ii {
              background-image: url(../img/icon-ii.png); }
              @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
                .row.changes .changes-table table tr td .appendix-change div.icon.ii {
                  /* on retina, use image
                   * that's scaled by 2 */
                  background-image: url("../img/icon-ii@2x.png");
                  background-size: 26px 26px; } }
            .row.changes .changes-table table tr td .appendix-change div.icon.iii {
              background-image: url(../img/icon-iii.png); }
              @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
                .row.changes .changes-table table tr td .appendix-change div.icon.iii {
                  /* on retina, use image
                   * that's scaled by 2 */
                  background-image: url("../img/icon-iii@2x.png");
                  background-size: 26px 26px; } }
            .row.changes .changes-table table tr td .appendix-change div.icon.deletion {
              background-image: url(../img/icon-del.png); }
              @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
                .row.changes .changes-table table tr td .appendix-change div.icon.deletion {
                  /* on retina, use image
                   * that's scaled by 2 */
                  background-image: url("../img/icon-del@2x.png");
                  background-size: 26px 26px; } }
          .row.changes .changes-table table tr td .appendix-change div:last-child {
            margin-left: 128px;
            position: absolute;
            top: 16px;
            background-position: 0px; }
        .row.changes .changes-table table tr td .new-species {
          height: 28px;
          background-image: url(../img/icon-plus.png);
          padding-left: 35px;
          background-repeat: no-repeat;
          background-position: 0 15px; }
          @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
            .row.changes .changes-table table tr td .new-species {
              /* on retina, use image
               * that's scaled by 2 */
              background-image: url("../img/icon-plus@2x.png");
              background-size: 26px 26px; } }
          .row.changes .changes-table table tr td .new-species div {
            padding-top: 0; }
        .row.changes .changes-table table tr td .new-annotation {
          height: 28px;
          background-image: url(../img/icon-plus.png);
          padding-left: 35px;
          background-repeat: no-repeat;
          background-position: 0 15px; }
          @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
            .row.changes .changes-table table tr td .new-annotation {
              /* on retina, use image
               * that's scaled by 2 */
              background-image: url("../img/icon-plus@2x.png");
              background-size: 26px 26px; } }
          .row.changes .changes-table table tr td .new-annotation.done {
            background-image: url(../img/icon-tick.png); }
            @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
              .row.changes .changes-table table tr td .new-annotation.done {
                /* on retina, use image
                 * that's scaled by 2 */
                background-image: url("../img/icon-tick@2x.png");
                background-size: 26px 26px; } }
          .row.changes .changes-table table tr td .new-annotation div {
            padding-top: 0; }
        .row.changes .changes-table table tr td .control {
          float: right;
          border-left: 1px solid #e5e5e5;
          padding-left: 20px; }
          .row.changes .changes-table table tr td .control .btn {
            padding: 10px 15px;
            border-radius: 27px;
            width: 59px; }
        .row.changes .changes-table table tr td.empty,
        .row.changes .changes-table table tr td span.author {
          color: #cfcfcf;
          font-weight: normal;
          font-style: normal; }
        .row.changes .changes-table table tr td span.author {
          font-size: 0.7em;
          display: block; }
  .row.changes .row.changes-table-footer {
    margin: 0;
    font-size: 0.7em;
    color: #666;
    text-transform: uppercase;
    width: 99.7% !important; }
    .row.changes .row.changes-table-footer .pull-right {
      font-weight: bold;
      color: #373f4c;
      font-size: 0.9rem;
      line-height: 10px; }
    .row.changes .row.changes-table-footer .left,
    .row.changes .row.changes-table-footer .right {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 20px 15px 20px 15px; }
    .row.changes .row.changes-table-footer .left {
      width: 255px;
      margin: 0;
      border-right: 1px solid #e5e5e5; }
    .row.changes .row.changes-table-footer .right {
      width: 400px; }
.row h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #666;
  font-weight: normal; }

h4 {
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0; }

/*
  Stat application animations
*/
.appendix-change.move {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-name: mergeListingChangeArrow;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0.1s;
  -moz-animation-duration: 0.9s;
  -moz-animation-name: mergeListingChangeArrow;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0.1s;
  -o-animation-duration: 0.9s;
  -o-animation-name: mergeListingChangeArrow;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-name: mergeListingChangeArrow;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }
  .appendix-change.move .icon:last-child {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1.45s;
    -webkit-animation-name: mergeListingChangeIcon;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 1.45s;
    -moz-animation-name: mergeListingChangeIcon;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 1.45s;
    -o-animation-name: mergeListingChangeIcon;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 1.45s;
    animation-name: mergeListingChangeIcon;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

@-webkit-keyframes mergeListingChangeIcon {
  from {
    left: 0px; }

  to {
    left: -128px; } }

@-moz-keyframes mergeListingChangeIcon {
  from {
    left: 0px; }

  to {
    left: -128px; } }

@-o-keyframes mergeListingChangeIcon {
  from {
    left: 0px; }

  to {
    left: -128px; } }

@keyframes mergeListingChangeIcon {
  from {
    left: 0px; }

  to {
    left: -128px; } }

@-webkit-keyframes mergeListingChangeArrow {
  from {
    background-position: 41px 24px; }

  to {
    background-position: -47px 24px; } }

@-moz-keyframes mergeListingChangeArrow {
  from {
    background-position: 41px 24px; }

  to {
    background-position: -47px 24px; } }

@-o-keyframes mergeListingChangeArrow {
  from {
    background-position: 41px 24px; }

  to {
    background-position: -47px 24px; } }

@keyframes mergeListingChangeArrow {
  from {
    background-position: 41px 24px; }

  to {
    background-position: -47px 24px; } }

.new-species.move div {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadeOut;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: fadeOut;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.fade-in {
  opacity: 0;
  padding: 0 !important;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.grey-out {
  opacity: 1;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: greyOut;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: greyOut;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-name: greyOut;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: greyOut;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes greyOut {
  from {
    opacity: 1; }

  to {
    opacity: 0.5; } }

@-moz-keyframes greyOut {
  from {
    opacity: 1; }

  to {
    opacity: 0.5; } }

@-o-keyframes greyOut {
  from {
    opacity: 1; }

  to {
    opacity: 0.5; } }

@keyframes greyOut {
  from {
    opacity: 1; }

  to {
    opacity: 0.5; } }

.fade-out {
  opacity: 1;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeOut;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeOut;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-o-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
